html{
height:100%;
}

body{
color: #fff;
font-family: 'Montserrat', sans-serif;font-size: small;
height:100%;
margin:0;
}

.gradient{
-webkit-animation: fadeIn 8s ease-in-out infinite alternate; /* Safari and Chrome */
background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0NjAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzM4QUZGRiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0UzMEUwRSIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzQ2MCkiIC8+Cjwvc3ZnPg==);
background-image:-moz-linear-gradient(right, #fff539 0%, #e4ba2f 50%, #695151 100%);
background-image:-o-linear-gradient(right,#fff539 0%,#e4ba2f 50%,#695151 100%);
background-image:-webkit-linear-gradient(right,#fff539 0%,#e4ba2f 50%,#695151 100%);
background-image:linear-gradient(right,##fff539 0%,#e4ba2f 50%,##695151 100%);
opacity:0.4;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;}



